/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace componentes "skins.skin.combobox.componentes.*";
@namespace spark "mx.skins.spark.*";
@namespace dataGridClasses "mx.controls.dataGridClasses.*";
@namespace combos "mx.com.proquifa.proquifanet.rsl.vista.vistas.componentes.comun.combos.*";
@namespace linkButton "skins.skin.linkButton.*";
/* VERSION 2.1.32 S */

/*				FUENTES 				 */
@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/digital-7.ttf");
	fontFamily:Digital;
	embedAsCFF:true;
}


@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontFamily:Novecento;
	fontWeight:bold;
	fontStyle:normal;
	embedAsCFF:true;
}


@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicMedium.ttf");
	fontFamily:bankGothic;
	embedAsCFF:true;
	fontWeight:bold;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicLight.ttf");
	fontFamily:bankGothic;
	embedAsCFF:true;
}





/************************************************************************** CONSULTAS*******************************************************************************************/
/*ABREVIATURAS
* cltas = consultas
* pdlle = panel detalle
* plntpo = panel linea de tiempo
* pgral = panel generales
* plncto = Panel Concepto
*/


/* COLORES
* #257d92 = verde azul
*#70a047 = verde
*#348bd8 = azul espectral
*#b76013 = naranja azafran
*#999999 = gris
*#666666 = gris casi Negro
*
*/

/* =================================================LABELS*/
/*s|Label  //Este es para el css
{
fontFamily:Tahoma;
fontSize:14px;
}*/

s|Label{
	fontSize:14px;	
	fontWeight:normal;
}

.gridLabels
{
	fontFamily:Tahoma;
	fontSize:14px;	
}

.cltas_titulo
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
}



.cltas_titulo_verdeAzul_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#257d92;
	typographicCase:uppercase;
}

.cltas_pgral_Titulo
{
	fontFamily:Tahoma;
	
	fontWeight:bold;
	fontSize:16;
	paddingTop:15px;
	typographicCase:uppercase;
}

.cltas_titulo_gris
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#999999;
}

.cltas_titulo_gris_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#999999;
	typographicCase:uppercase;
}

.cltas_titulo_grisCasiNegro
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#666666;
}

.cltas_titulo_verde_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#70a047;
	typographicCase:uppercase;
}

.cltas_titulo_rojo_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#d10c0c;
	typographicCase:uppercase;
}

.cltas_texto
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
}

.cltas_texto_verdeAzul_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#257d92;
	typographicCase:uppercase;
}

.cltas_texto_grisCasiNegro
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
	color:#666666;
}

.cltas_texto_verde_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#70a047;
	typographicCase:uppercase;
}
.cltas_texto_rojo_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#d10c0c;
	typographicCase:uppercase;
}

.cltas_texto_azulEspectral
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#348bd8;
}
.cltas_texto_naranjaAzafran
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#b76013;
}

.cltas_texto_gris
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#999999;
}

.cltas_pdlle_header
{
	fontFamily:Tahoma;
	
	fontSize: 15 px;
	fontWeight: bold;
	color: white;
	fontStyle:normal;
	paddingLeft:15px;
}

.cltas_pdlle_subheaders
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	color: white;
	fontStyle:normal;
	paddingLeft:15px;
}


.cltas_plntpo_header,.cltas_plncto_header
{
	fontFamily:Tahoma;
	
	fontSize:20px;
	verticalAlign:middle;
	textAlign:center;
	color:#999999;
	paddingBottom:15px;
	paddingTop:25px;
}

/************************************************************************** 	REPORTES    *******************************************************************************************/
/*ABREVIATURAS
* rpte = reporte
* p1emp = panel Uno Empresa
* p2cto = panel Dos Concepto
* p4dlle = panel Cuatro Detalle
*
*
* plntpo = panel linea de tiempo
* pgral = panel generales
* plncto = Panel Concepto
*/


/* COLORES
* #257d92 = verde azul
*#70a047 = verde
*#348bd8 = azul espectral
*#b76013 = naranja azafran
*#999999 = gris
*#666666 = gris casi Negro
*#773F8C = morado
*/

.rpte_p1emp_header
{
	fontFamily:Tahoma;
	
	fontSize:18px;
	fontWeight:bold;
	color:#000000;
	backgroundAlpha:0;
}

.rpte_p2cto_header
{
	fontFamily:Tahoma;
	
	fontSize:20px;
	backgroundAlpha:0;
	textAlign:center;
	color:#999999;
	verticalAlign:middle;
}

.rpte_p3Enfoque_header
{
	fontFamily:Tahoma;
	
	fontSize:20px;
	verticalAlign:middle;
	textAlign:center;
	color:#999999;
}

.rpte_p4dlle_subheaders_left
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	color: white;
	fontStyle:normal;
	paddingLeft:15px;
}

.rpte_p4dlle_subheaders_right
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	color: white;
	fontStyle:normal;
	paddingRight:15px;
}

/************************************************************************** TABLEROS *******************************************************************************************/
/* =================================================LABELS==============================================================================================================================*/
.tab_titulo_12
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	fontSize:12 px;
	paddingTop:11px;
}

.tab_titulo_combo
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	fontSize:10 px;
}

.tab_texto_12
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontSize:12 px;
}

.tab_titulo_verdeAzul_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	color:#257d92;
	typographicCase:uppercase;
}

/* ===================================================================================================LABELS EN REPORTES =============================================================================*/

.cltas_texto_verdeAzul
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
	color:#257d92;
}

.cltas_texto_morado
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
	color:#773F8C;
}

/************************************************************************** COMUNES COMUNES*******************************************************************************************/
/* =================================================BOTONES==============================================================================================================================*/
linkButton|LinkButtonPQNet2
{
	skinClass:ClassReference("skins.skin.linkButton.LinkButtonSkinPQNet");
}

/* El fontSize debe coincidir con el que está establecido para el Grid en la 
declaración: advanceDataGridWhitCSS*/
linkButton|LinkButtonPQNetParaGrid
{
	skinClass:ClassReference("skins.skin.linkButton.LinkButtonSkinPQNetParaGrid");
}

/*mx|Label
{
fontFamily: Tahoma;
fontStyle: italic;
fontWeight:normal;
}

s|Label{
fontFamily: Tahoma;
fontStyle:italic;
fontWeight:normal;
}*/

.checkRadio_titulo_22
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	fontWeight:bold;
}

.checkRadio_titulo_22_gris
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#999999;
	fontWeight:bold;
}

.checkRadio_titulo_14
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
}

.checkRadio_titulo_14_gris
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	color:#999999;
	fontWeight:bold;
}

/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/
/* =================================================GRIDS==============================================================================================================================*/
.advanceDataGridWhitCSS{
	/*	TEXTO*/
	fontSize:12px;
	fontFamily:Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
	/*ALINEACIÓN GENERAL */
	textAlign:center;
	verticalAlign:middle;
	
	/*	OVER ROW	*/
	rollOverColor: #e6e6e6; 
	textSelectedColor: #000000;
	
	/*SELECTION STATE*/
	selectionColor: #e9e9e9; 
	franjaSelectionColor:#257d92; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*HEADER*/
	alternatingItemColors: #FFFFFF,#FFFFFF;
	headerBackgroundSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.headerGridPqNet");
	headerSeparatorSkin:ClassReference("mx.skins.ProgrammaticSkin");
	headerStyleName:"headerGridCSS";
	headerHeight:50px; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*BODY*/
	verticalGridLineColor:#000000;
	horizontalGridLines:true;
	verticalGridLines:false;
	borderVisible:false;
	horizontalSeparatorSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.lineaHorizontal");
	rowHeight:60px;
	
	/*FOOTER	*/
	paddingTopFooter:20px;
	
	/*FOR SORT ITEMS */
	sortItemRenderer: ClassReference("skins.skin.AdvancedDataGrid.PQNetHeaderSortItemRendererSkin");
	sortExpertMode:true; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
}

.headerGridCSS
{
	fontSize: 12px;
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:bold;
	fontStyle:normal;
} 
/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/
/* =================================================AXIS RENDERS GRAFICAS TABLEROS==============================================================================================================================*/

.axisVerticalLabels{
	fontSize:10px;
	color:#999999;
}


/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/

/* ================================================= CATÁLOGO PROVEEDORES ==============================================================================================================================*/

/*ABREVIATURAS
* cdro = cuadrado
* mdcar = modificar
* cat = catalogo
* pro = proveedores
*
* plntpo = panel linea de tiempo
* pgral = panel generales
* plncto = Panel Concepto
*
* Colores
* #FF4D4C = rojo claro
* #ff6600 = naranja
*/

.cat_pro_texto_bgoth_16_blanco
{
	fontFamily:bankGothic;
	fontWeight:normal;
	color:#FFFFFF;
	fontSize:16px;
}

.cat_pro_texto_bgothl_20_blanco
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:20px;
	color:#FFFFFF;
}

.cat_pro_texto_bgothl_18
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:18px;
}

.cat_pro_texto_bgothl_20
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:22px;
}

.cat_pro_texto_bgothl_24
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:24px;
}

.cat_pro_texto_bgothl_22_blanco
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:22px;
	color:#FFFFFF;
}

.cltas_texto_grisCasiNegro_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	
	fontWeight:normal;
	color:#666666;
}

.cat_pro_titulo_bgothl_22
{
	fontFamily:bankGothic;
	fontSize:22px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_20_blanco
{
	fontFamily:bankGothic;
	fontSize:20px;
	fontWeight:bold;
	color:#FFFFFF;
}

.cat_pro_titulo_bgothl_20_grisCasiNegro
{
	fontFamily:bankGothic;
	fontSize:20px;
	fontWeight:bold;
	color:#666666;
}

.cat_pro_titulo_bgothl_24
{
	fontFamily:bankGothic;
	fontSize:24px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_24_blanco
{
	fontFamily:bankGothic;
	fontSize:24px;
	fontWeight:bold;
	color:#FFFFFF;
}

.cat_pro_titulo_bgothl_30
{
	fontFamily:bankGothic;
	fontSize:30px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_34
{
	fontFamily:bankGothic;
	fontSize:34px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_24_gris
{
	fontFamily:bankGothic;
	fontSize:24px;
	fontWeight:bold;
	color:#999999;
}


.cat_pro_titulo_bgothl_16_grisCasiNegro
{
	fontFamily:bankGothic;
	fontSize:16px;
	fontWeight:bold;
	color:#666666;
}

.cat_pro_texto_blanco
{
	fontFamily:Tahoma;
	fontSize:14px;
	fontWeight:normal;
	color:#FFFFFF;
}

.cat_pro_texto_10_blanco
{
	fontFamily:Tahoma;
	fontSize:10px;
	fontWeight:normal;
	color:#FFFFFF;
}

.cat_pro_titulo_16_pTop10
{
	fontFamily:Tahoma;
	fontSize:16px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_19_pTop10
{
	fontFamily:Tahoma;
	fontSize:19px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_22_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_22_rojoclaro_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#FF4D4C;
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_22_verdeAzul_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#257d92;
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_texto_14_rojoclaro
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	color:#FF4D4C;
}

.cat_pro_titulo_22_gris_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#999999;
	fontWeight:bold;
	paddingTop:10px;
}


.cat_pro_texto_verdeAzul_13
{
	fontFamily:Tahoma;
	fontSize:13px;
	
	fontWeight:normal;
	color:#257d92;
}

.cat_pro_texto_rojoClaro_13
{
	fontFamily:Tahoma;
	fontSize:13px;
	
	fontWeight:normal;
	color:#FF4D4C;
}

.cat_pro_texto_16
{
	fontFamily:Tahoma;
	fontSize:16px;
	
	fontWeight:normal;
}

.cat_pro_texto_22_grisCasiNegro
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	fontWeight:normal;
	color:#666666;
}


.cat_pro_titulo_verdeAzul_14
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.cat_pro_titulo_14_pTop10
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_14_naranja_pTop10
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	paddingTop:10px;
	color:#ff6600;
}


.cat_pro_titulo_verdeAzul_25
{
	fontFamily:Tahoma;
	fontSize:25px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.cat_pro_titulo_verdeAzul_12
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.cat_pro_inputTex_Negro
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkinNegroDefaultPQNet");
}
	
.cat_pro_inputTex_defaultPQNet_Blanco
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkinBlancoDefaultPQNet");
}

.cat_pro_inputTex_defaultPQNet_Blanco_SinSetAltura
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkinBlancoSinSetAlturaDefaultPQNet");
}

.cat_pro_textArea_defaultPQNet_Blanco
{
	skinClass:ClassReference("skins.skin.textarea.txtAreaBlancoSkinDefaultPQNet");
}

.cat_pro_checkRadio_defaultPQNet
{
	skinClass:ClassReference("skins.skin.chekbox.CheckRadioSkinDefaultPQNet");
}
	
/* ================================================= CATÁLOGO Agente Aduanal ==============================================================================================================================*/

.numericStepper_gris
{
	skinClass:ClassReference("skins.skin.numericStepper.NumericStepperSkinBlancoDefaultPQNet");
}

.numericStepper_gris_enorme
{
	skinClass:ClassReference("skins.skin.numericStepper.NumericStepperSkinSinSetAlturaBlancoDefaultPQNet");
}

.numericStepper_negro
{
	color: #FFFFFF;
	chromeColor: #000000;
	contentBackgroundColor: #000000;
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
}


/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/
/***********Botones***********************/

/*global
{
	modalTransparencyBlur: 0;
	modalTransparency: 0.5;
	modalTransparencyColor: black;
	fontFamily: Helvetica;
	fontStyle: normal;
}*/

.botonNegroOld
{
	skinClass: ClassReference("skins.skin.botones.boton.skinButtonDefault");
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
}


mx|Button {
	skin:ClassReference("skins.skin.botones.boton.mx.mxButton2");
	color: #ffffff;
	cornerRadius: 6;
	textRollOverColor: #ffffff;
	textSelectedColor: #3E85D6;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	fontSize: 12;
}

/***********ScrollBar***********************/


s|VScrollBar
{
	skinClass: ClassReference("skins.skin.scrollbar.skinVScrollBarDefault");
}


mx|HScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnRightScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnLeftScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Hthumb");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Htrack");
}


mx|VScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnDownScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnUpScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.thumb");
	trackSkin:ClassReference("skins.skin.scrollbar.botones.mx.track");
}


s|HScrollBar
{
	skinClass: ClassReference("skins.skin.scrollbar.skinHScrollBarDefault");
}


/***********ComboBox***********************/

s|ComboBox
{
	skinClass: ClassReference("skins.skin.combobox.skinComboBoxDefault");
	
	selectionColor: #454545;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
	
}
combos|ComboCatalogos{
	fontStyle:normal;
}

.drop
{
	color: #000000;
	rollOverColor:#7A7A7A;
	selectionColor:#454545;
	textRollOverColor:#FFFFFF;
	textSelectedColor:#FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


/***********ButtonBar***********************/

s|ButtonBar
{
	skinClass:ClassReference("skins.skin.buttonbar.skinButtonBar");
}

/***********TextInput***********************/


s|TextInput
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkin");
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
	focusColor:#44a6be; 
	focusAlpha: 1;
}

/***********TextArea***********************/

s|TextArea
{
	skinClass:ClassReference("skins.skin.textarea.textAreaSkin");
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
	
}

mx|TextInput
{
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
}

s|CheckBox
{
	skinClass:ClassReference("skins.skin.chekbox.checkBoxSkin"); 
	symbolColor: #FFFFFF;
	/*color: #000000;
	chromeColor: #FFFFFF;
	symbolColor: #000000;
	textRollOverColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;*/
}

s|TabBar
{
	skinClass:ClassReference("skins.skin.tab.tabBarSkin");
}

s|List{
	rollOverColor: #e6e6e6;
	selectionColor: #e9e9e9;
}

s|DataGrid
{
	skinClass:ClassReference("skins.skin.datagrid.dataGridSkin");
	rollOverColor: #bfdbfc;
	selectionColor: #2b6db9;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
	/*	alternatingRowColors="undefined"*/
	borderAlpha: 1;
	borderColor: "0x696969";
	borderVisible: "true";
	caretColor: "0x3ea22b";
	contentBackgroundAlpha:"1.0";
	symbolColor:"0x005500";
}

s|GridColumnHeaderGroup{
	fontFamily: Arial;
	fontStyle:italic;
	fontWeight:normal;
}

s|DefaultGridHeaderRenderer
{
	fontFamily:Arial;
	fontStyle:italic;
	fontWeight:normal;
}

.headerGrid
{
	color: #FFFFFF;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
	rollOverColor:#0A0A0A;
	selectionColor:#0A0A0A;
	textAlign:left;
}

.headerDataChooser
{
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}



/*s|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	contentBackgroundColor: #000000;
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
}*/

mx|Alert
{
	titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
	borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
	titleStyleName: "tituloAlert";
	/*color:#FFFFFF;*/
	/*chromeColor:#000000;
	backgroundColor:#666666;
	contentBackgroundColor: #666666;*/
	fontFamily: Tahoma;
	fontWeight:normal;
	/*buttonStyleName: "botonAlerta";*/
}

.tituloAlert
{
	color: #FFFFFF;
	fontFamily:Arial;
	fontWeight:normal;
	fontStyle:italic;
}

s|TitleWindow
{
	skinClass:ClassReference("skins.skin.title.titleWindowSkin");
	fontFamily: Tahoma;
	fontWeight:normal;
}

.ButtonMenuRol {
	cornerRadius: 0;
	textIndent: 0;
	paddingLeft: 10;
	paddingRight: 10;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #5294df, #5294df, #ffffff, #ffffff;
	color: #ffffff;
	borderColor: #5294df;
	themeColor: #5294df;
}

/* ================================================= Evento Proquifa ==============================================================================================================================*/


@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/myriadpro-bold.ttf");
	fontFamily: MyriadProProqui;
	embedAsCFF: true;
	fontWeight:bold;
}

.advanceDataGridEvento{
	/*	TEXTO*/
	fontSize:14px;
	fontFamily: MyriadProProqui;
	
	/*ALINEACIÓN GENERAL */
	textAlign: left;
	verticalAlign:middle;
	color:#000000;
	/*	OVER ROW	*/
	rollOverColor: #D2D2D2; 
	textSelectedColor: #000000;
	
	/*SELECTION STATE*/
	selectionColor: #D2D2D2; 
	franjaSelectionColor:#257d92; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*HEADER*/
	headerSeparatorSkin:ClassReference("mx.skins.ProgrammaticSkin");
	alternatingItemColors: #D2D2D2,#D2D2D2;
	headerBackgroundSkin:ClassReference("skin.grid.evento.skinHeaderBackgroundAdvencedDataGridEvento");
	/*	
	headerBackgroundSkin:ClassReference("otro.pruebaOtro");
	headerStyleName:"headerGridCSS";
	headerHeight:50px; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*BODY*/
	/*	verticalGridLineColor:#000000;*/
	headerColors:#D2D2D2,#D2D2D2;
	
	
	
	verticalGridLines:false;
	horizontalGridLines:true;
	borderVisible:false;
	horizontalSeparatorSkin:ClassReference("skin.LineaHorizontalItemDataGrid");
	rowHeight:60px;
	
	
	/*FOOTER	*/
	paddingTopFooter:20px;
	
	/*FOR SORT ITEMS */
	sortItemRenderer: ClassReference("skins.skin.AdvancedDataGrid.PQNetHeaderSortItemRendererSkin");
	sortExpertMode:true; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	
	verticalScrollBarStyleName: 'scrollBarStyles';
}

/*mx|AdvancedDataGrid {
fontFamily: MyriadProProqui;
}*/

.headerGridCSS
{
	fontSize: 14px;
	color: #000000;
	fontFamily: MyriadProProqui;
}


.scrollBarStyles {
	/*	chromeColor: red;*/
	/*	skinClass: ClassReference("otro.scroll.scroller.vscroller");*/
	upArrowSkin:ClassReference("mx.skins.ProgrammaticSkin");
	upArrowDownSkin: ClassReference("mx.skins.ProgrammaticSkin");
	downArrowSkin:ClassReference("mx.skins.ProgrammaticSkin");
	downArrowDownSkin:ClassReference("mx.skins.ProgrammaticSkin");
	trackSkin:ClassReference("skin.scroll.scroller.skinScrollBarTrack");
	/*	trackDownSkin: Embed(source="assets/vScroll_track_down.png");*/
	thumbSkin: ClassReference("skin.scroll.scroller.skinScrollBarThumb");
	/*	thumbDownSkin: Embed(source="assets/vScroll_thumb_down.png");*/
	
}

.cat_pro_titulo_myriad_14{
	fontFamily: MyriadProProqui;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 14px;
	color: #000000;
}

.cat_pro_titulo_myriad_16{
	fontFamily: MyriadProProqui;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 16px;
	color: #000000;
}

.cat_pro_titulo_myriad_18{
	fontFamily: MyriadProProqui;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 18px;
	color: #000000;
}

.cat_pro_titulo_myriad_22{
	fontFamily: MyriadProProqui;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 22px;
	color: #000000;
}

.cat_pro_titulo_novecento_14{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 14px;
	color: #000000;
}

.cat_pro_titulo_novecento_18{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 18px;
	color: #000000;
}

.cat_pro_titulo_novecento_22{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 22px;
	color: #000000;
}

.cat_pro_titulo_novecento_24{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 24px;
	color: #000000;
}

.cat_pro_titulo_novecento_28{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 28px;
	color: #000000;
}

.cat_pro_titulo_novecento_32{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 34px;
	color: #000000;
}
