/* CSS file Version 2.2.22 */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace renderers "vista.componentes.renderers.*";

@font-face
{
	fontFamily: Digital;
	src: url("/rsl/src/main/flex/skins/fonts/digital-7.ttf");
	embedAsCFF: true;
}

@font-face
{
	fontFamily: NovecentoDemi;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: false;
}

@font-face
{
	fontFamily: NovecentoDemi;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: true;
}

@font-face
{
	fontFamily: Novecento;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: true;
}

@font-face
{
	fontFamily: NovecentoCFF;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: false;
}

/*@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicMedium.ttf");
	fontFamily:bankGothic;
	fontStyle:normal;
	embedAsCFF:true;
	fontWeight:bold;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicMedium.ttf");
	fontFamily:bankGothic;
	fontStyle:normal;
	embedAsCFF:false;
	fontWeight:bold;
}*/

global
{
	fontFamily: Helvetica;
	fontWeight: normal;
	fontStyle: normal;
	fontSize: 12;
	content-background-alpha: 0.0;
}

s|ButtonBar
{
	skinClass:ClassReference("skins.skin.buttonbar.skinButtonBarMobil");
}

s|TextInput
{
	skinClass: ClassReference("vista.skin.textInput.SkinStageTextInputPq");
	borderVisible: false;
	fontFamily: Helvetica;
	fontStyle: normal;
	fontWeight: normal;
	typographicCase: uppercase;
	fontSize: 20;
	color: #fafafa;
	focusSkin: ClassReference( null );
}

s|Label
{
	fontFamily: Helvetica;
	fontStyle:normal;
	fontWeight:normal;
}
