/* CSS file Version 2.2.22 */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace renderers "vista.componentes.renderers.*";

@font-face
{
	fontFamily: Digital;
	src: url("/rsl/src/main/flex/skins/fonts/digital-7.ttf");
	embedAsCFF: true;
}

@font-face
{
	fontFamily: NovecentoDemi;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: false;
}

@font-face
{
	fontFamily: NovecentoDemi;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: true;
}

@font-face
{
	fontFamily: Novecento;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: true;
}

@font-face
{
	fontFamily: NovecentoCFF;
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontWeight: bold;
	fontStyle:normal;
	embedAsCFF: false;
}

/*@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicMedium.ttf");
	fontFamily:bankGothic;
	fontStyle:normal;
	embedAsCFF:true;
	fontWeight:bold;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicMedium.ttf");
	fontFamily:bankGothic;
	fontStyle:normal;
	embedAsCFF:false;
	fontWeight:bold;
}*/

global
{
	fontFamily: Helvetica;
	fontWeight: normal;
	fontStyle: normal;
	fontSize: 15;
	content-background-alpha: 0.0;
}

s|ButtonBar
{
	skinClass:ClassReference("skins.skin.buttonbar.skinButtonBarMobil");
}

s|TextInput
{
	skinClass: ClassReference("vista.skin.textInput.SkinStageTextInputPq");
	borderVisible: false;
	fontFamily: Helvetica;
	fontStyle: normal;
	fontWeight: normal;
	typographicCase: uppercase;
	fontSize: 20;
	color: #fafafa;
	focusSkin: ClassReference( null );
}

.titulo_Helvetica_28
{
	fontFamily: Helvetica;
	fontSize:14;
	fontWeight:bold;
}
.titulo_Novecento_30
{
	fontFamily: Novecento;
	fontSize:20;
	fontWeight:bold;
}

.titulo_Novecento_18
{
	fontFamily: Novecento;
	fontSize:9;
	fontWeight:bold;
}

.titulo_Novecento_22
{
	fontFamily: Novecento;
	fontSize:11;
	fontWeight:bold;
}


.titulo_Novecento_14
{
	fontFamily: Novecento;
	fontSize:14;
	fontWeight:bold;
	fontStyle:normal;
}

.titulo_Novecento_16
{
	fontFamily: Novecento;
	fontSize:8;
	fontWeight:bold;
}

.titulo_Novecento_24
{
	fontFamily: Novecento;
	fontSize:12;
	fontWeight:bold;
}

.titulo_NovecentoCFF_24
{
	fontFamily: NovecentoCFF;
	fontSize:12;
	fontWeight:bold;
}

.titulo_Novecento_28
{
	fontFamily: Novecento;
	fontSize:14;
	fontWeight:bold;
}

.titulo_Novecento_40
{
	fontFamily: Novecento;
	fontSize:20;
	fontWeight:bold;
}

.texto_Helvetica_24
{
	fontFamily: Helvetica;
	fontSize:12;
}

s|Label
{
	fontFamily: Helvetica;
	fontStyle:normal;
	fontWeight:normal;
}

.titulo_Helvetica_10_Blanco
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	color:#FFFFFF;
	fontStyle:normal;
}

.titulo_Helvetica_20_Blanco
{
	fontFamily:Helvetica;
	fontSize:20px;
	fontWeight:bold;
	color:#FFFFFF;
	fontStyle:normal;
}

.titulo_Helvetica_12_ToolTip
{
	fontFamily:Helvetica;
	fontSize:12px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.titulo_Helvetica_16M_Barra
{
	fontFamily:Helvetica;
	fontSize:11px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.titulo_Helvetica_14_Chart
{
	fontFamily:Helvetica;
	fontSize:14px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.titulo_Helvetica_10_CheckBox
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	fontStyle:normal;
}

@media (application-dpi: 240)
{
	global
	{
		fontFamily: Helvetica;
		fontWeight: normal;
		fontStyle: normal;
		fontSize: 30;
		content-background-alpha: 0.0;
	}
	
	.texto_Helvetica_24
	{
		fontFamily: Helvetica;
		fontSize:24;
	}
	
	.titulo_Helvetica_28
	{
		fontFamily: Helvetica;
		fontSize:28;
		fontWeight:bold;
	}
	.titulo_NovecentoCFF_24
	{
		fontFamily: NovecentoCFF;
		fontSize:24;
		fontWeight:bold;
	}
	
	s|TextInput
	{
		skinClass: ClassReference("vista.skin.textInput.SkinStageTextInputPq");
		borderVisible: false;
		fontFamily: Helvetica;
		fontStyle: normal;
		fontWeight: normal;
		typographicCase: uppercase;
		fontSize: 28;
		color: #fafafa;
		focusSkin: ClassReference( null );
	}
	
	s|Label
	{
		fontFamily: Helvetica;
		fontStyle:normal;
		fontWeight:normal;
	}
	
	.titulo_Novecento_24
	{
		fontFamily: Novecento;
		fontSize:24;
		fontWeight:bold;
	}
	
	.titulo_Novecento_30
	{
		fontFamily: Novecento;
		fontSize:28;
		fontWeight:bold;
	}

	.titulo_Novecento_40
	{
		fontFamily: Novecento;
		fontSize:40;
		fontWeight:bold;
	}
	
	.titulo_Novecento_18
	{
		fontFamily: Novecento;
		fontSize:18;
		fontWeight:bold;
	}
	
	.titulo_Novecento_22
	{
		fontFamily: Novecento;
		fontSize:22;
		fontWeight:bold;
	}
	
	.titulo_Novecento_16
	{
		fontFamily: Novecento;
		fontSize:16;
		fontWeight:bold;
	}
	
	.titulo_Novecento_28
	{
		fontFamily: Novecento;
		fontSize:28;
		fontWeight:bold;
	}
	
	
	
	.text_Helvetica_11_chart
	{
		fontFamily:Helvetica;
		fontSize:20px;
		fontWeight:bold;
		textAlign:left;
		verticalAlign:bottom;
		color:#505050;
		fontStyle:normal;
	}
	
	.text_Helvetica_10_chart
	{
		fontFamily:Helvetica;
		fontSize:20px;
		fontWeight:bold;
		textAlign:left;
		verticalAlign:bottom;
		color:#505050;
		fontStyle:normal;
	}
	
	.titulo_Helvetica_11_chart
	{
		fontFamily:Helvetica;
		fontSize:20px;
		fontWeight:bold;
		textAlign:center;
		verticalAlign:bottom;
		color:#000000;
		fontStyle:normal;
	}
	
	
	.titulo_Helvetica_10_chart
	{
		fontFamily:Helvetica;
		fontSize:20px;
		fontWeight:bold;
		textAlign:center;
		verticalAlign:bottom;
		color:#000000;
		fontStyle:normal;
	}
	
	.titulo_Helvetica_11_ToolTip
	{
		fontFamily:Helvetica;
		fontSize:22px;
		fontWeight:bold;
		color:#000000;
		fontStyle:normal;
	}

	.titulo_Helvetica_16M_Barra
	{
		fontFamily:Helvetica;
		fontSize:16px;
		fontWeight:bold;
		color:#000000;
		fontStyle:normal;
	}

	.titulo_Helvetica_12_ToolTip
	{
		fontFamily:Helvetica;
		fontSize:24px;
		fontWeight:bold;
		color:#000000;
		fontStyle:normal;
	}

	
	.titulo_Helvetica_10_ToolTip
	{
		fontFamily:Helvetica;
		fontSize:20px;
		fontWeight:bold;
		color:#000000;
		fontStyle:normal;
	}

	
	.texto_Helvetica_11_Axis
	{
		fontFamily:Helvetica;
		fontSize:22px;
		color:#999999;
		fontStyle:normal;
	}
	
	.titulo_Helvetica_14_Chart
	{
		fontFamily:Helvetica;
		fontSize:28px;
		fontWeight:bold;
		color:#000000;
		fontStyle:normal;
	}
	
	.titulo_Helvetica_10_CheckBox
	{
		fontFamily:Helvetica;
		fontSize:20px;
		fontWeight:bold;
		fontStyle:normal;
	}
	
	.titulo_Novecento_14
	{
		fontFamily: Novecento;
		fontSize:28;
		fontWeight:bold;
		fontStyle:normal;
	}
	
	
	s|ButtonBar
	{
		skinClass:ClassReference("skins.skin.buttonbar.skinButtonBarMobil240DPI");
	}
}
