/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace componentes "skins.skin.combobox.componentes.*";
@namespace spark "mx.skins.spark.*";
@namespace dataGridClasses "mx.controls.dataGridClasses.*";
@namespace combos "mx.com.proquifa.proquifanet.rsl.vista.vistas.componentes.comun.combos.*";
@namespace linkButton "skins.skin.linkButton.*";
/* VERSION 2.1.32 S */

/*				FUENTES 				 */
@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/digital-7.ttf");
	fontFamily:Digital;
	embedAsCFF:true;
}



@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/novecentowidebold.ttf");
	fontFamily:Novecento;
	fontWeight:bold;
	fontStyle:normal;
	embedAsCFF:true;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/NovecentowideNormal.ttf");
	fontFamily:Novecento;
	fontWeight:normal;
	fontStyle:normal;
	embedAsCFF:true;
}


@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicMedium.ttf");
	fontFamily:bankGothic;
	embedAsCFF:true;
	fontWeight:bold;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BankGothicLight.ttf");
	fontFamily:bankGothic;
	embedAsCFF:true;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/BebasNeue.otf");
	fontFamily:BebasNeue;
	embedAsCFF:true;
}

@font-face
{
	src: url("/rsl/src/main/flex/skins/fonts/helveticalight.ttf");
	fontFamily:helveticalight;
	embedAsCFF:true;
}





/************************************************************************** CONSULTAS*******************************************************************************************/
/*ABREVIATURAS
* cltas = consultas
* pdlle = panel detalle
* plntpo = panel linea de tiempo
* pgral = panel generales
* plncto = Panel Concepto
*/


/* COLORES
* #257d92 = verde azul
*#70a047 = verde
*#348bd8 = azul espectral
*#b76013 = naranja azafran
*#999999 = gris
*#666666 = gris casi Negro
*
*/

/* =================================================LABELS*/
/*s|Label  //Este es para el css
{
fontFamily:Tahoma;
fontSize:14px;
}*/

mx|Label
{
	fontFamily: Tahoma;
	fontStyle: italic;
	fontWeight:normal;
}

s|Label{
	fontSize:14px;	
	fontWeight:normal;
}

.gridLabels
{
	fontFamily:Tahoma;
	fontSize:14px;	
}

.cltas_titulo_8
{
	fontFamily:Tahoma;
	fontSize:8px;
	
	
	fontWeight:bold;
	paddingTop:15px;
}

.cltas_titulo
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
}


.cltas_texto_12
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	fontWeight:normal;
}


.cltas_titulo_verdeAzul_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#257d92;
	typographicCase:uppercase;
}

.cltas_pgral_Titulo
{
	fontFamily:Tahoma;
	
	fontWeight:bold;
	fontSize:16;
	paddingTop:15px;
	typographicCase:uppercase;
}

.cltas_texto_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	fontWeight:normal;
	
}

.cltas_titulo_12
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	
	fontWeight:bold;
	paddingTop:15px;
}

.cltas_titulo_12_pTop0
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	
	fontWeight:bold;
}

.cltas_titulo_gris
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#999999;
}

.cltas_titulo_12_pTop10
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#999999;
}

.cltas_titulo_8_pTop10
{
	fontFamily:Tahoma;
	fontSize:8px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#010101;
}

.cltas_titulo_gris_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#999999;
	typographicCase:uppercase;
}

.cltas_titulo_grisCasiNegro
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#666666;
}

.cltas_titulo_verde_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#70a047;
	typographicCase:uppercase;
}

.cltas_titulo_rojo_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:15px;
	color:#d10c0c;
	typographicCase:uppercase;
}

.cltas_texto_8
{
	fontFamily:Tahoma;
	fontSize:8px;
	
	fontWeight:normal;
}

.cltas_texto
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
}

.cltas_texto_verdeAzul_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#257d92;
	typographicCase:uppercase;
}

.cltas_texto_grisCasiNegro
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
	color:#666666;
}

.cltas_texto_verde_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#70a047;
	typographicCase:uppercase;
}
.cltas_texto_rojo_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#d10c0c;
	typographicCase:uppercase;
}

.cltas_texto_azulEspectral
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#348bd8;
}
.cltas_texto_naranjaAzafran
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#b76013;
}

.cltas_texto_gris
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:normal;
	color:#999999;
}

.cltas_texto_gris_16
{
	fontFamily:Tahoma;
	fontSize:16px;
	
	
	fontWeight:normal;
	color:#999999;
}

.cltas_pdlle_header
{
	fontFamily:Tahoma;
	
	fontSize: 15 px;
	fontWeight: bold;
	color: white;
	fontStyle:normal;
	paddingLeft:15px;
}

.cltas_pdlle_subheaders
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	color: white;
	fontStyle:normal;
	paddingLeft:15px;
}

.cltas_texto_13
{
	fontFamily:Tahoma;
	fontSize:13px;
	
	fontWeight:normal;
}


.cat_pro_texto_bgothl_18_verdeazul
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:18px;
	
	color:#257d92;
	typographicCase:uppercase;
}

.cat_pro_texto_bgothl_15
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:15px;
	font-weight: bold;
	color:#000000;
}

.cltas_plntpo_header,.cltas_plncto_header
{
	fontFamily:Tahoma;
	
	fontSize:20px;
	verticalAlign:middle;
	textAlign:center;
	color:#999999;
	paddingBottom:15px;
	paddingTop:25px;
}

/************************************************************************** 	REPORTES    *******************************************************************************************/
/*ABREVIATURAS
* rpte = reporte
* p1emp = panel Uno Empresa
* p2cto = panel Dos Concepto
* p4dlle = panel Cuatro Detalle
*
*
* plntpo = panel linea de tiempo
* pgral = panel generales
* plncto = Panel Concepto
*/


/* COLORES
* #257d92 = verde azul
*#70a047 = verde
*#348bd8 = azul espectral
*#b76013 = naranja azafran
*#999999 = gris
*#666666 = gris casi Negro
*#773F8C = morado
*/

.rpte_p1emp_header
{
	fontFamily:Tahoma;
	
	fontSize:18px;
	fontWeight:bold;
	color:#000000;
	backgroundAlpha:0;
}

.rpte_p2cto_header
{
	fontFamily:Tahoma;
	
	fontSize:20px;
	backgroundAlpha:0;
	textAlign:center;
	color:#999999;
	verticalAlign:middle;
}

.rpte_p3Enfoque_header
{
	fontFamily:Tahoma;
	
	fontSize:20px;
	verticalAlign:middle;
	textAlign:center;
	color:#999999;
}

.rpte_p4dlle_subheaders_left
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	color: white;
	fontStyle:normal;
	paddingLeft:15px;
}

.rpte_p4dlle_subheaders_right
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	color: white;
	fontStyle:normal;
	paddingRight:15px;
}

/************************************************************************** TABLEROS *******************************************************************************************/
/* =================================================LABELS==============================================================================================================================*/
.tab_titulo_12
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	fontSize:12 px;
	paddingTop:11px;
}

.tab_titulo_combo
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	fontSize:10 px;
}

.tab_texto_12
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontSize:12 px;
}

.tab_titulo_verdeAzul_upperCase
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	color:#257d92;
	typographicCase:uppercase;
}

.tab_titulo_Helvetica_verdeAzul
{
	fontFamily:Helvetica;
	fontSize:14px;
	
	fontWeight:bold;
	color:#257d92;
}

.tab_titulo_Helvetica
{
	fontFamily:Helvetica;
	fontSize:15px;
	
	fontWeight:bold;
	color:#000000;
}


.tab_titulo_16_HelveticaLight
{
	fontFamily:helveticalight;
	fontSize:16px;
	
	fontWeight:bold;
	color:#000000;
}

.tab_texto_14_HelveticaLight
{
	fontFamily:helveticalight;
	fontSize:14px;
	
	fontWeight:normal;
	color:#000000;
}

.tab_texto_14_Helvetica
{
	fontFamily:Helvetica;
	fontSize:16px;
	
	fontWeight:normal;
	color:#000000;
}

.tab_texto_18_Helvetica
{
	fontFamily:Helvetica;
	fontSize:18px;
	
	fontWeight:normal;
	color:#ffffff;
}

.tab_texto_26_Helvetica_VerdeAzul
{
	fontFamily:Helvetica;
	fontSize:26px;
	
	fontWeight:normal;
	color:#008893;
}

/* ===================================================================================================LABELS EN REPORTES =============================================================================*/

.cltas_texto_verdeAzul
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
	color:#257d92;
}

.cltas_texto_morado
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:normal;
	color:#773F8C;
}
.subtitulo_20
{
	fontFamily:bankGothic;
	fontWeight:bold;
	fontSize:20px;

}

.titulo_bankGothic
{
	fontFamily:bankGothic;
	fontWeight:bold;
	fontSize:25px;

}

/************************************************************************** COMUNES COMUNES*******************************************************************************************/
/* =================================================BOTONES==============================================================================================================================*/
linkButton|LinkButtonPQNet2
{
	skinClass:ClassReference("skins.skin.linkButton.LinkButtonSkinPQNet");
}

/* El fontSize debe coincidir con el que está establecido para el Grid en la 
declaración: advanceDataGridWhitCSS*/
linkButton|LinkButtonPQNetParaGrid
{
	skinClass:ClassReference("skins.skin.linkButton.LinkButtonSkinPQNetParaGrid");
}

/*mx|Label
{
fontFamily: Tahoma;
fontStyle: italic;
fontWeight:normal;
}

s|Label{
fontFamily: Tahoma;
fontStyle:italic;
fontWeight:normal;
}*/

.checkRadio_titulo_22
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	fontWeight:bold;
}

.checkRadio_titulo_22_gris
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#999999;
	fontWeight:bold;
}

.checkRadio_titulo_14
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
}


.checkRadio_titulo_14_gris
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	color:#999999;
	fontWeight:bold;
}

.checkRadio_titulo_12
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	fontWeight:bold;
}

.checkRadio_titulo_12_gris
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	color:#999999;
	fontWeight:bold;
}

.checkRadio_titulo_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	
	fontWeight:bold;
}

.checkRadio_titulo_10_gris
{
	fontFamily:Tahoma;
	fontSize:10px;
	
	color:#999999;
	fontWeight:bold;
}

/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/
/* =================================================GRIDS==============================================================================================================================*/
.advanceDataGridWhitCSS{
	/*	TEXTO*/
	fontSize:12px;
	fontFamily:Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
	/*ALINEACIÓN GENERAL */
	textAlign:center;
	verticalAlign:middle;
	
	/*	OVER ROW	*/
	rollOverColor: #e6e6e6; 
	textSelectedColor: #000000;
	
	/*SELECTION STATE*/
	selectionColor: #e9e9e9; 
	
	franjaSelectionColor:#257d92; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*HEADER*/
	headerSeparatorSkin:ClassReference("mx.skins.ProgrammaticSkin");
	headerStyleName:"headerGridCSS";
	headerHeight:50px;  /*Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*BODY*/
	verticalGridLineColor:#000000;
	horizontalGridLines:true;
	verticalGridLines:false;
	borderVisible:false;
	horizontalSeparatorSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.lineaHorizontal");
	rowHeight:60px;
	
	/*FOOTER	*/
	paddingTopFooter:20px;
	
	/*FOR SORT ITEMS */
	sortItemRenderer: ClassReference("skins.skin.AdvancedDataGrid.PQNetHeaderSortItemRendererSkin");
	sortExpertMode:true; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
}

.advanceDataGridWhitCSS_02{
	/*	TEXTO*/
	fontSize:12px;
	fontFamily:Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
	/*ALINEACIÓN GENERAL */
	textAlign:center;
	verticalAlign:middle;
	
	/*	OVER ROW	*/
	rollOverColor: #e6e6e6; 
	textSelectedColor: #000000;
	
	/*SELECTION STATE*/
	selectionColor: #f5f5f5; 
	
	franjaSelectionColor:#f5f5f5;
	
	/*HEADER*/
	headerSeparatorSkin:ClassReference("mx.skins.ProgrammaticSkin");
	headerBackgroundSkin:ClassReference("skins.skin.AdvancedDataGrid.skinHead");
	headerHeight:27px;
	
	/*BODY*/
	verticalGridLineColor:#000000;
	horizontalGridLines:false;
	verticalGridLines:false;
	borderVisible:false;
/*	horizontalSeparatorSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.lineaHorizontal");*/
	rowHeight:60px;
	
	/*FOOTER	*/
	paddingTopFooter:0px;
	
	/*FOR SORT ITEMS */
	sortItemRenderer: ClassReference("skins.skin.AdvancedDataGrid.PQNetHeaderSortItemRendererSkin");
	sortExpertMode:true; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
}

.headerGridCSS
{
	fontSize: 12px;
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:bold;
	fontStyle:normal;
} 

.advanceDataGridConTotales{
	/*	TEXTO*/
	fontSize:12px;
	fontFamily:Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
	/*ALINEACIÓN GENERAL */
	textAlign:center;
	verticalAlign:middle;
	
	/*	OVER ROW	
	rollOverColor: #e6e6e6; 
	textSelectedColor: #000000;*/
	
	/*SELECTION STATE
	selectionColor: #e9e9e9; 
	
	franjaSelectionColor:#257d92;*/ /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*HEADER*/
	headerSeparatorSkin:ClassReference("mx.skins.ProgrammaticSkin");
	headerStyleName:"headerGridCSS";
	headerHeight:50px; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
	
	/*BODY*/
	verticalGridLineColor:#000000;
	horizontalGridLines:true;
	verticalGridLines:false;
	borderVisible:false;
	horizontalSeparatorSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.lineaHorizontal");
	rowHeight:60px;
	
	/*FOOTER	*/
	paddingTopFooter:20px;
	
	/*FOR SORT ITEMS */
	sortItemRenderer: ClassReference("skins.skin.AdvancedDataGrid.PQNetHeaderSortItemRendererSkin");
	sortExpertMode:true; /* Se carga manualmente en la clase AdvancedDataGridWithCSS*/
}

.gridGestorCompra
{
	rollOverColor: #e6e6e6;  
	selectionColor: #e9e9e9;
	alternatingItemColors: #FFFFFF,#FFFFFF;
	fontFamily: Novecento;
	fontSize: 19;
	fontWeight:normal;
	fontStyle:normal;
	textAlign:center;
	headerBackgroundSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.headerGridPqNet");
	headerSeparatorSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.headerGridPqNet");
	headerStyleName: headerGridGestorCompra;
}
		
.headerGridGestorCompra
{
	color: #333333;
	fontFamily: Novecento;
	fontWeight:bold;
	fontStyle:normal;
	fontSize: 19;
}

.gridGestorCompraUno
{
	rollOverColor: #e6e6e6;  
	selectionColor: #e9e9e9;
	alternatingItemColors: #FFFFFF,#FFFFFF;
	fontFamily: Novecento;
	fontSize: 14;
	fontWeight:normal;
	fontStyle:normal;
	textAlign:center;
	headerBackgroundSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.headerGridPqNet");
	headerSeparatorSkin:ClassReference("skins.skin.datagrid.pqNet.componentes.headerGridPqNet");
	headerStyleName: headerGridGestorCompraUno;
}
		
.headerGridGestorCompraUno
{
	color: #333333;
	fontFamily: Novecento;
	fontWeight:bold;
	fontStyle:normal;
	fontSize: 14;
}

/*.headerGridCSS
{
	fontSize: 12px;
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:bold;
	fontStyle:normal;
} */

/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/
/* =================================================AXIS RENDERS GRAFICAS TABLEROS==============================================================================================================================*/

.axisVerticalLabels{
	fontSize:10px;
	color:#999999;
}


/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/

/* ================================================= CATÁLOGO PROVEEDORES ==============================================================================================================================*/

/*ABREVIATURAS
* cdro = cuadrado
* mdcar = modificar
* cat = catalogo
* pro = proveedores
*
* plntpo = panel linea de tiempo
* pgral = panel generales
* plncto = Panel Concepto
*
* Colores
* #FF4D4C = rojo claro
* #ff6600 = naranja
*/

.cat_pro_texto_bgoth_16_blanco
{
	fontFamily:bankGothic;
	fontWeight:normal;
	color:#FFFFFF;
	fontSize:16px;
}

.cat_pro_texto_bgothl_20_blanco
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:20px;
	color:#FFFFFF;
}

.cat_pro_texto_bgothl_18
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:18px;
}

.cat_pro_texto_bgothl_20
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:22px;
}

.cat_pro_texto_bgothl_24
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:24px;
}

.cat_pro_texto_bgothl_22_blanco
{
	fontFamily:bankGothic;
	fontWeight:normal;
	fontSize:22px;
	color:#FFFFFF;
}

.cltas_texto_grisCasiNegro_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	
	fontWeight:normal;
	color:#666666;
}

.cat_pro_titulo_bgothl_22
{
	fontFamily:bankGothic;
	fontSize:22px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_20
{
	fontFamily:bankGothic;
	fontSize:20px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_20_blanco
{
	fontFamily:bankGothic;
	fontSize:20px;
	fontWeight:bold;
	color:#FFFFFF;
}

.cat_pro_titulo_bgothl_20_grisCasiNegro
{
	fontFamily:bankGothic;
	fontSize:20px;
	fontWeight:bold;
	color:#666666;
}

.cat_pro_titulo_bgothl_24
{
	fontFamily:bankGothic;
	fontSize:24px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_24_blanco
{
	fontFamily:bankGothic;
	fontSize:24px;
	fontWeight:bold;
	color:#FFFFFF;
}

.cat_pro_titulo_bgothl_30
{
	fontFamily:bankGothic;
	fontSize:30px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_34
{
	fontFamily:bankGothic;
	fontSize:34px;
	fontWeight:bold;
}

.cat_pro_titulo_bgothl_24_gris
{
	fontFamily:bankGothic;
	fontSize:24px;
	fontWeight:bold;
	color:#999999;
}


.cat_pro_titulo_bgothl_16_grisCasiNegro
{
	fontFamily:bankGothic;
	fontSize:16px;
	fontWeight:bold;
	color:#666666;
}

.cat_pro_texto_blanco
{
	fontFamily:Tahoma;
	fontSize:14px;
	fontWeight:normal;
	color:#FFFFFF;
}

.cat_pro_texto_10_blanco
{
	fontFamily:Tahoma;
	fontSize:10px;
	fontWeight:normal;
	color:#FFFFFF;
}

.cat_pro_texto_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	fontWeight:normal;
	
}

.cat_pro_titulo_16_pTop10
{
	fontFamily:Tahoma;
	fontSize:16px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_19_pTop10
{
	fontFamily:Tahoma;
	fontSize:19px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_22_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_22_rojoclaro_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#FF4D4C;
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_22_verdeAzul_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#257d92;
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_texto_14_rojoclaro
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	color:#FF4D4C;
}

.cat_pro_titulo_22_gris_pTop10
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	color:#999999;
	fontWeight:bold;
	paddingTop:10px;
}


.cat_pro_texto_verdeAzul_13
{
	fontFamily:Tahoma;
	fontSize:13px;
	
	fontWeight:normal;
	color:#257d92;
}

.cat_pro_texto_18
{
	fontFamily:Tahoma;
	fontSize:18px;
	
	fontWeight:normal;
}

.cat_pro_texto_verdeAzul_18
{
	fontFamily:Tahoma;
	fontSize:18px;
	
	fontWeight:normal;
	color:#257d92;
}

.cat_pro_texto_verdeAzul_14
{
	fontFamily:Helvetica;
	fontSize:14px;
	
	fontWeight:normal;
	color:#257d92;
}

.cat_pro_texto_verdeAzul_16
{
	fontFamily:Helvetica;
	fontSize:16px;
	
	fontWeight:normal;
	color:#257d92;
}

.cat_pro_texto_rojoClaro_13
{
	fontFamily:Tahoma;
	fontSize:13px;
	
	fontWeight:normal;
	color:#FF4D4C;
}

.cat_pro_texto_16
{
	fontFamily:Tahoma;
	fontSize:16px;
	
	fontWeight:normal;
}

.cat_pro_texto_22_grisCasiNegro
{
	fontFamily:Tahoma;
	fontSize:22px;
	
	fontWeight:normal;
	color:#666666;
}


.cat_pro_titulo_verdeAzul_14
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.cat_pro_titulo_14_pTop10
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	paddingTop:10px;
}

.cat_pro_titulo_14_naranja_pTop10
{
	fontFamily:Tahoma;
	fontSize:14px;
	
	fontWeight:bold;
	paddingTop:10px;
	color:#ff6600;
}


.cat_pro_titulo_verdeAzul_25
{
	fontFamily:Tahoma;
	fontSize:25px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.cat_pro_titulo_verdeAzul_12
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.cat_pro_titulo_verdeAzul_12_sinPad
{
	fontFamily:Tahoma;
	fontSize:12px;	
	
	fontWeight:bold;
	color:#257d92;
}

.cat_pro_titulo_verdeAzul_18
{
	fontFamily:Tahoma;
	fontSize:18px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#257d92;
}

.text_Helvetica_12_blanco
{
	fontFamily:Helvetica;
	fontSize:12px;
	fontWeight:bold;
	color:#FFFFFF;
	fontStyle:normal;
}


.text_Helvetica_11_chart
{
	fontFamily:Helvetica;
	fontSize:11px;
	fontWeight:bold;
	textAlign:left;
	/*verticalAlign:bottom;*/
	color:#505050;
	fontStyle:normal;
}

.text_Helvetica_10_chart
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	textAlign:left;
	/*verticalAlign:bottom;*/
	color:#505050;
	fontStyle:normal;
}

.titulo_Helvetica_11_chart
{
	fontFamily:Helvetica;
	fontSize:11px;
	fontWeight:bold;
	textAlign:center;
	verticalAlign:bottom;
	color:#000000;
	fontStyle:normal;
}


.titulo_Helvetica_10_chart
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	textAlign:center;
	verticalAlign:bottom;
	color:#000000;
	fontStyle:normal;
}

.titulo_HelveticaRegular_10_chart
{
	fontFamily: Helvetica;
	fontSize:12px;
	fontWeight:normal;
	textAlign:center;
	verticalAlign:bottom;
	color:#333333;
	fontStyle:normal;
}


.titulo_Helvetica_11_ToolTip
{
	fontFamily:Helvetica;
	fontSize:11px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.texto_Helvetica_11_Axis
{
	fontFamily:Helvetica;
	fontSize:11px;
	color:#999999;
	fontStyle:normal;
}

.titulo_Helvetica_10_ToolTip
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.titulo_Helvetica_12_ToolTip
{
		fontFamily:Helvetica;
		fontSize:12px;
		fontWeight:bold;
		color:#000000;
		fontStyle:normal;
}

.titulo_Helvetica_10_CheckBox
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	fontStyle:normal;
}

.titulo_Helvetica_16M_Barra
{
	fontFamily:Helvetica;
	fontSize:11px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.titulo_Helvetica_16_Barra
{
	fontFamily:Helvetica;
	fontSize:16px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}

.titulo_Helvetica_14_Chart
{
	fontFamily:Helvetica;
	fontSize:14px;
	fontWeight:bold;
	color:#000000;
	fontStyle:normal;
}


.titulo_Helvetica_10_Blanco
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	color:#FFFFFF;
	fontStyle:normal;
}

.titulo_Helvetica_20_Blanco
{
	fontFamily:Helvetica;
	fontSize:20px;
	fontWeight:bold;
	color:#FFFFFF;
	fontStyle:normal;
}

.titulo_Helvetica_10_RojoClaro
{
	fontFamily:Helvetica;
	fontSize:10px;
	fontWeight:bold;
	color:#FF4D4C;
	fontStyle:normal;
}

.titulo_Helvetica_20_RojoClaro
{
	fontFamily:Helvetica;
	fontSize:20px;
	fontWeight:bold;
	color:#FF4D4C;
	fontStyle:normal;
}

/* Novecento */
.cat_pro_titulo_novecento_14{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 14px;
	color: #000000;
}

.cat_pro_titulo_novecento_18{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 18px;
	color: #000000;
}

.cat_pro_titulo_novecento_20_verdeAzul{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 20px;
	color: #008893;
}

.cat_pro_titulo_novecento_22{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 22px;
	color: #000000;
}

.cat_pro_titulo_novecento_24{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 24px;
	color: #000000;
}

.cat_pro_titulo_novecento_28{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 28px;
	color: #000000;
}


.cat_pro_titulo_novecento_32{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 32px;
	color: #000000;
}

.cat_pro_titulo_novecento_32_VerdeAzul{
	fontFamily: Novecento;
	fontWeight: bold;
	fontStyle: normal;
	fontSize: 32px;
	color: #008893;
}

.titulo_14_BebasNeue{
	fontFamily: BebasNeue;
	fontStyle: normal;
	fontSize: 14px;
	color:#257d92;
}

.titulo_24_BebasNeue{
	fontFamily: BebasNeue;
	fontStyle: normal;
	fontSize: 24px;
	color:#257d92;
}



.cat_pro_inputTex_Negro
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkinNegroDefaultPQNet");
}

.cat_cli_comboBox_Negro_defaultPQNet
{
	skinClass:ClassReference("skins.skin.combobox.comboSkinNegroDefaultPQNet");
}
	
.cat_pro_inputTex_defaultPQNet_Blanco
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkinBlancoDefaultPQNet");
}

.cat_pro_inputTex_defaultPQNet_Blanco_SinSetAltura
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkinBlancoSinSetAlturaDefaultPQNet");
}

.cat_pro_textArea_defaultPQNet_Blanco
{
	skinClass:ClassReference("skins.skin.textarea.txtAreaBlancoSkinDefaultPQNet");
}

.cat_pro_checkRadio_defaultPQNet
{
	skinClass:ClassReference("skins.skin.chekbox.CheckRadioSkinDefaultPQNet");
}
	
/* ================================================= CATÁLOGO Agente Aduanal ==============================================================================================================================*/

.numericStepper_gris
{
	skinClass:ClassReference("skins.skin.numericStepper.NumericStepperSkinBlancoDefaultPQNet");
}

.numericStepper_gris_enorme
{
	skinClass:ClassReference("skins.skin.numericStepper.NumericStepperSkinSinSetAlturaBlancoDefaultPQNet");
}

.numericStepper_negro
{
	color: #FFFFFF;
	chromeColor: #000000;
	contentBackgroundColor: #000000;
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
}


/*****************************************************************^^^^^^^^^^^^^^^^^^^^^^^^^^^*******************************************************************************************/
/***********Botones***********************/

/*global
{
	modalTransparencyBlur: 0;
	modalTransparency: 0.5;
	modalTransparencyColor: black;
	fontFamily: Helvetica;
	fontStyle: normal;
}*/

.botonNegroOld
{
	skinClass: ClassReference("skins.skin.botones.boton.skinButtonDefault");
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
}


mx|Button {
	skin:ClassReference("skins.skin.botones.boton.mx.mxButton2");
	color: #ffffff;
	cornerRadius: 6;
	textRollOverColor: #ffffff;
	textSelectedColor: #3E85D6;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	fontSize: 12;
}

/***********ScrollBar***********************/


s|VScrollBar
{
	skinClass: ClassReference("skins.skin.scrollbar.skinVScrollBarDefault");
}
/*
s|HScrollBar
{
	skinClass: ClassReference("skins.skin.scrollbar.skinHScrollBarDefault");
}
*/

s|Scroller
{
	skinClass: ClassReference("skins.skin.scrollbar.skinScroller")
}


mx|HScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnRightScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnLeftScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Hthumb");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Htrack");
}


mx|VScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnDownScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnUpScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.thumb");
	trackSkin:ClassReference("skins.skin.scrollbar.botones.mx.track");
}





/***********ComboBox***********************/

s|ComboBox
{
	skinClass: ClassReference("skins.skin.combobox.skinComboBoxDefault");
	
	selectionColor: #454545;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
	
}
combos|ComboCatalogos{
	fontStyle:normal;
}
mx|ComboBox
{
	chromeColor: #000000;
	color: #FFFFFF;
	dropdownStyleName: "drop";
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	cornerRadius: 5;
}

.drop
{
	color: #000000;
	rollOverColor:#7A7A7A;
	selectionColor:#454545;
	textRollOverColor:#FFFFFF;
	textSelectedColor:#FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


/***********ButtonBar***********************/

s|ButtonBar
{
	skinClass:ClassReference("skins.skin.buttonbar.skinButtonBar");
}

/***********TextInput***********************/


s|TextInput
{
	skinClass:ClassReference("skins.skin.textinput.txtInputSkin");
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
	focusColor:#44a6be; 
	focusAlpha: 1;
}

/***********TextArea***********************/

s|TextArea
{
	skinClass:ClassReference("skins.skin.textarea.textAreaSkin");
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
	
}

mx|TextInput
{
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
}

mx|TextArea
{
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:normal;
	
}

/*****************radioButton*******************/
mx|RadioButton
{
	color: #000000;
	chromeColor: #FFFFFF;
	symbolColor: #000000;
	textRollOverColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

s|RadioButton
{
	color: #000000;
	chromeColor: #FFFFFF;
	symbolColor: #000000;
	textRollOverColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


mx|CheckBox
{
	color: #000000;
	chromeColor: #FFFFFF;
	symbolColor: #000000;
	textRollOverColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

s|CheckBox
{
	skinClass:ClassReference("skins.skin.chekbox.checkBoxSkin"); 
	symbolColor: #FFFFFF;
	/*color: #000000;
	chromeColor: #FFFFFF;
	symbolColor: #000000;
	textRollOverColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;*/
}

s|TabBar
{
	skinClass:ClassReference("skins.skin.tab.tabBarSkin");
}

s|List{
	rollOverColor: #e6e6e6;
	selectionColor: #e9e9e9;
}

s|DataGrid
{
	skinClass:ClassReference("skins.skin.datagrid.dataGridSkin");
	color: #000000;
	rollOverColor: #bfdbfc;
	selectionColor: #2b6db9;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
	/*	alternatingRowColors="undefined"*/
	borderAlpha: 1;
	borderColor: "0x696969";
	borderVisible: "true";
	caretColor: "0x3ea22b";
	contentBackgroundAlpha:"1.0";
	symbolColor:"0x005500";
}

s|GridColumnHeaderGroup{
	fontFamily: Arial;
	fontStyle:italic;
	fontWeight:normal;
}

s|DefaultGridHeaderRenderer
{
	fontFamily:Arial;
	fontStyle:italic;
	fontWeight:normal;
}

mx|DataGrid
{
	rollOverColor: #bfdbfc;
	selectionColor: #2b6db9;
	selectionDuration:400;
	textSelectedColor: #FFFFFF;
	alternatingItemColors: #FFFFFF;
	headerStyleName: "headerGrid";
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	headerBackgroundSkin:ClassReference("skins.skin.datagrid.mx.headerSparkMx");
	
}

.headerGrid
{
	color: #FFFFFF;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
	rollOverColor:#0A0A0A;
	selectionColor:#0A0A0A;
	textAlign:left;
}

mx|LinkButton
{
	/*		color: #363636;
	rollOverColor: #0000FF;
	fontSize: 20;
	skin:ClassReference( null );
	upSkin:ClassReference( null );
	overSkin: ClassReference("skins.skin.label.skinLinkButtonPq");
	downSkin: ClassReference("skins.skin.label.skinLinkButtonPq");
	disabledSkin: ClassReference("skins.skin.label.skinLinkButtonPq");*/
	cornerRadius:5;
	paddingLeft: 0;
	letterSpacing: 0;
	selectionColor: #2b6db9;
	color: #0b333c;
	textRollOverColor: #0b333c;
	textSelectedColor: #ffffff;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle: normal;
	textDecoration: none;
	
}

mx|DateChooser
{
	color: #FFFFFF;
	contentBackgroundColor: #000000;
	headerStyleName: "headerDataChooser";
	todayStyleName: "todayDataChooser";
	rollOverColor:#68a5ea;
	selectionColor:  #3577c2;
	todayColor:#666666;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

.headerDataChooser
{
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


mx|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	symbolColor: #FFFFFF;
	contentBackgroundColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:normal;
}

/*s|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	contentBackgroundColor: #000000;
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:normal;
	
}*/

mx|Alert
{
	titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
	borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
	titleStyleName: "tituloAlert";
	/*color:#FFFFFF;*/
	/*chromeColor:#000000;
	backgroundColor:#666666;
	contentBackgroundColor: #666666;*/
	fontFamily: Tahoma;
	fontWeight:normal;
	/*buttonStyleName: "botonAlerta";*/
}

.tituloAlert
{
	color: #FFFFFF;
	fontFamily:Arial;
	fontWeight:normal;
	fontStyle:italic;
}

.tituloAlerta2
{
	color: #FFFFFF;
	fontFamily:Tahoma;
	fontWeight:bold;
	font-size: 18px;
}

s|TitleWindow
{
	skinClass:ClassReference("skins.skin.title.titleWindowSkin");
	fontFamily: Tahoma;
	fontWeight:normal;
}

mx|TitleWindow
{
	titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
	borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
	closeButtonDisabledSkin:Embed(source="/rsl/src/main/flex/skins/skin/title/assets/tachedisabled.png");
	closeButtonUpSkin:Embed(source="/rsl/src/main/flex/skins/skin/title/assets/tache1.png");
	closeButtonDownSkin:Embed(source="/rsl/src/main/flex/skins/skin/title/assets/overdown.png");
	closeButtonOverSkin:Embed(source="/rsl/src/main/flex/skins/skin/title/assets/overdown.png");
	
/*	fontFamily: Tahoma;*/
	fontWeight:normal;
	/*color:#000000;*/
}

.ButtonMenuRol {
	cornerRadius: 0;
	textIndent: 0;
	paddingLeft: 10;
	paddingRight: 10;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #5294df, #5294df, #ffffff, #ffffff;
	color: #ffffff;
	borderColor: #5294df;
	themeColor: #5294df;
}

mx|DateField{
	skin:Embed("/rsl/src/main/flex/skins/imagenes/iconos/renders/calendario.png");
	upSkin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
	color:#fafafa;
	contentBackgroundColor:#111111;
}

.dateFieldStyle{
	skin:Embed("/rsl/src/main/flex/skins/imagenes/iconos/renders/calendario.png");
	upSkin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
	color:#111111;
	contentBackgroundColor:#ffffff;
}

.dateFieldStyleFlecha{
	skin:Embed("/rsl/src/main/flex/skins/imagenes/iconos/botones/gestorCompras/svg/triangulo_cuadro.svg");
	upSkin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
	borderColor: #FFFFFF;
	box-shadow: #FFFFFF;
	color:#008894;
	contentBackgroundColor:#ffffff;
}

.dateFielSolicitarVisita{
skin:Embed("/rsl/src/main/flex/skins/imagenes/iconos/renders/calendario.png");
upSkin: ClassReference(null);
overSkin: ClassReference(null);
downSkin: ClassReference(null);
disabledSkin: ClassReference(null);
color:#000000;
box-shadow: #FFFFFF;
borderColor: #98969C;
contentBackgroundColor:#f3f3f4;
textSelectedColor: #f3f3f4;
}

.headerDateChoose{
color:#FFFFFF; 
contentBackgroundColor:#f3f3f4;
font-weight: normal;
fontSize:12px;
}

.allDayStyle{
color:#000000; 
contentBackgroundColor:#f3f3f4;
font-weight: normal;
fontSize:12px;
}

.allDayOverStyle{
color:#FFFFFF; 
contentBackgroundColor:#bfc0c7;
font-weight: normal;
fontSize:12px;
}

.allDayStyleTest{
color:#FFFFFF;
contentBackgroundColor:#bfc0c7;
font-weight: normal;
fontSize:12px;
}

.cat_pro_texto_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	fontWeight:normal;
	
}

.cat_pro_titulo_morado_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	
	
	fontWeight:bold;
	color:#773F8C;
}
.cat_pro_titulo_morado_12
{
	fontFamily:Tahoma;
	fontSize:12px;
	
	
	fontWeight:bold;
	paddingTop:10px;
	color:#773F8C;
}

.cat_pro_titulo_verdeAzul_10
{
	fontFamily:Tahoma;
	fontSize:10px;
	fontWeight:bold;
	color:#257d92;
}

.checkBoxBlancoAzul {
	skinClass: ClassReference("skins.skin.chekbox.skincheckBoxNegroPalomitaVerde");
}

.checkBoxBlancoVerde {
	skinClass: ClassReference("skins.skin.chekbox.skincheckBoxVerde");
}


.listStyle
{
	borderVisible: false;
	contentBackgroundAlpha: 0;
	horizontalScrollPolicy: off;
	
}