/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace componentes "skins.skin.combobox.componentes.*";
@namespace spark "mx.skins.spark.*";
@namespace dataGridClasses "mx.controls.dataGridClasses.*";
@namespace combos "mx.com.proquifa.proquifanet.rsl.vista.vistas.componentes.comun.combos.*";


/*				FUENTES 				 */
@font-face
{
	fontFamily: Digital;
	src: url("/rsl/src/main/flex/skins/fonts/digital-7.ttf");
	embedAsCFF: true;
}

/***********Botones***********************/

global
{
	/*	color: #F4D8D8;
	font-family: tahoma;
	font-size: 15;
	font-weight: bold;*/
	modalTransparencyBlur: 0;
	modalTransparency: 0.5;
	modalTransparencyColor: black;
	fontFamily: Helvetica;
/*	modalTransparencyDuration: 50;*/
}

s|Button
	{
		skinClass: ClassReference("skins.skin.botones.boton.skinButtonDefault");
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
	}


mx|Button {
	skin:ClassReference("skins.skin.botones.boton.mx.mxButton2");
	color: #ffffff;
	cornerRadius: 6;
	textRollOverColor: #ffffff;
	textSelectedColor: #3E85D6;
   	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	fontSize: 12;
}

/***********ScrollBar***********************/


s|VScrollBar
	{
		skinClass: ClassReference("skins.skin.scrollbar.skinVScrollBarDefault");
	}


mx|HScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnRightScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnLeftScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Hthumb");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Htrack");
}


mx|VScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnDownScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnUpScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.thumb");
	trackSkin:ClassReference("skins.skin.scrollbar.botones.mx.track");
}


s|HScrollBar
	{
		skinClass: ClassReference("skins.skin.scrollbar.skinHScrollBarDefault");
	}


/***********ComboBox***********************/

s|ComboBox
	{
		skinClass: ClassReference("skins.skin.combobox.skinComboBoxDefault");
		
		selectionColor: #454545;
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}
combos|ComboCatalogos{
	fontStyle:normal;
}

mx|ComboBox
{
	chromeColor: #000000;
	color: #FFFFFF;
	dropdownStyleName: "drop";
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	cornerRadius: 5;
}

.drop
{
	color: #000000;
	rollOverColor:#7A7A7A;
	selectionColor:#454545;
	textRollOverColor:#FFFFFF;
	textSelectedColor:#FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


/***********ButtonBar***********************/

s|ButtonBar
{
	skinClass:ClassReference("skins.skin.buttonbar.skinButtonBar");
}

/***********TextInput***********************/


s|TextInput
	{
		skinClass:ClassReference("skins.skin.textinput.txtInputSkin");
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		focusColor:#44a6be; 
		focusThickness: 3;
		focusAlpha: 1;
	}

/***********TextArea***********************/

s|TextArea
	{
		skinClass:ClassReference("skins.skin.textarea.textAreaSkin");
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}

mx|TextInput
	{
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
	}

mx|TextArea
	{
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}

/*****************radioButton*******************/
mx|RadioButton
	{
		color: #000000;
		chromeColor: #FFFFFF;
		symbolColor: #000000;
		textRollOverColor: #000000;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}

s|RadioButton
	{
		color: #000000;
		chromeColor: #FFFFFF;
		symbolColor: #000000;
		textRollOverColor: #000000;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}


mx|CheckBox
	{
		color: #000000;
		chromeColor: #FFFFFF;
		symbolColor: #000000;
		textRollOverColor: #000000;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}

s|CheckBox
	{
		skinClass:ClassReference("skins.skin.chekbox.checkBoxSkin"); 
		symbolColor: #FFFFFF;
		/*color: #000000;
		 chromeColor: #FFFFFF;
		 symbolColor: #000000;
		 textRollOverColor: #000000;
		 fontFamily: Tahoma;
		 fontWeight:normal;
		 fontStyle:italic;*/
	}

s|TabBar
{
	skinClass:ClassReference("skins.skin.tab.tabBarSkin");
}
/* FIXME bloque nuevo*/
s|List{
	rollOverColor: #e6e6e6;
	selectionColor: #e9e9e9;
}

/*s|MXDataGridItemRenderer{
	color: #FFBBFF;
}
s|MXDataGridItemRenderer:selected{
	color: #FF9999;
}
s|MXDataGridItemRenderer s|label{
	color: #FFFFFF;
}
s|MXItemRenderer s|label{
	color: #FFFFFF;
}*/

/* FIXME /bloque nuevo*/
s|DataGrid
{
	skinClass:ClassReference("skins.skin.datagrid.dataGridSkin");
	color: #000000;
	rollOverColor: #bfdbfc;
	selectionColor: #2b6db9;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;
/*	alternatingRowColors="undefined"*/
	borderAlpha: 1;
	borderColor: "0x696969";
	borderVisible: "true";
	caretColor: "0x3ea22b";
	contentBackgroundAlpha:"1.0";
	symbolColor:"0x005500";
}

s|GridColumnHeaderGroup{
	fontFamily: Arial;
	fontStyle:italic;
	fontWeight:normal;
}

s|DefaultGridHeaderRenderer
	{
		fontFamily:Arial;
		fontStyle:italic;
		fontWeight:normal;
	}

mx|DataGrid
	{
		rollOverColor: #bfdbfc;
		selectionColor: #2b6db9;
		selectionDuration:400;
		textSelectedColor: #FFFFFF;
		alternatingItemColors: #FFFFFF;
		headerStyleName: "headerGrid";
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:normal;
		headerBackgroundSkin:ClassReference("skins.skin.datagrid.mx.headerSparkMx");
		
	}

.headerGrid
	{
		color: #FFFFFF;
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		rollOverColor:#0A0A0A;
		selectionColor:#0A0A0A;
		textAlign:left;
	}

mx|LinkButton
	{
		cornerRadius:5;
		paddingLeft: 0;
		letterSpacing: 0;
		rollOverColor: #aadeff;
		selectionColor: #2b6db9;
		color: #0b333c;
		textRollOverColor: #2b333c;
		textSelectedColor: #ffffff;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle: normal;
	}

mx|DateChooser
{
	color: #FFFFFF;
	contentBackgroundColor: #000000;
	headerStyleName: "headerDataChooser";
	todayStyleName: "todayDataChooser";
	rollOverColor:#68a5ea;
	selectionColor:  #3577c2;
	todayColor:#666666;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

.headerDataChooser
{
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


mx|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	symbolColor: #FFFFFF;
	contentBackgroundColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

s|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	contentBackgroundColor: #000000;
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	
}

mx|Alert
	{
		titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
		borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
		titleStyleName: "tituloAlert";
		/*color:#FFFFFF;*/
		/*chromeColor:#000000;
		backgroundColor:#666666;
		contentBackgroundColor: #666666;*/
		fontFamily: Tahoma;
		fontWeight:normal;
		/*buttonStyleName: "botonAlerta";*/
	}

.tituloAlert
	{
		color: #FFFFFF;
		fontFamily:Arial;
		fontWeight:normal;
		fontStyle:italic;
	}

s|TitleWindow
	{
	 skinClass:ClassReference("skins.skin.title.titleWindowSkin");
	 fontFamily: Tahoma;
	 fontWeight:normal;
	}

mx|TitleWindow
	{
		titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
		borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
		closeButtonDisabledSkin:Embed(source="skins/skin/title/assets/tachedisabled.png");
		closeButtonUpSkin:Embed(source="skins/skin/title/assets/tache1.png");
		closeButtonDownSkin:Embed(source="skins/skin/title/assets/overdown.png");
		closeButtonOverSkin:Embed(source="skins/skin/title/assets/overdown.png");
		
		fontFamily: Tahoma;
		fontWeight:normal;
		/*color:#000000;*/
	}

mx|Label
	{
		fontFamily: Tahoma;
		fontStyle: italic;
		fontWeight:normal;
	}

s|Label{
		fontFamily: Tahoma;
		fontStyle:italic;
		fontWeight:normal;
}

.ButtonMenuRol {
	cornerRadius: 0;
	textIndent: 0;
	paddingLeft: 10;
	paddingRight: 10;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #5294df, #5294df, #ffffff, #ffffff;
	color: #ffffff;
	borderColor: #5294df;
	themeColor: #5294df;
}

mx|DateField{
	skin:Embed("/rsl/src/main/flex/skins/imagenes/iconos/renders/calendario.png");
	upSkin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
	color:#fafafa;
	contentBackgroundColor:#111111;
}
/*
DateField {
	skin: Embed("clock_add.png");
	 null the skins defined in default.css 
	upSkin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
}*/