/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace componentes "skins.skin.combobox.componentes.*";
@namespace spark "mx.skins.spark.*";




/***********Botones***********************/




s|Button
	{
		skinClass: ClassReference("skins.skin.botones.boton.skinButtonDefault");
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
	}


mx|Button {
	skin:ClassReference("skins.skin.botones.boton.mx.mxButton2");
	color: #ffffff;
	cornerRadius: 6;
	textRollOverColor: #ffffff;
	textSelectedColor: #3E85D6;
   	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	fontSize: 12;
}

/***********ScrollBar***********************/


s|VScrollBar
	{
		skinClass: ClassReference("skins.skin.scrollbar.skinVScrollBarDefault");
	}


mx|HScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnRightScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnLeftScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Hthumb");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.Htrack");
}


mx|VScrollBar
{
	downArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnDownScroll");
	upArrowSkin:ClassReference("skins.skin.scrollbar.botones.btnUpScroll");
	thumbSkin:ClassReference("skins.skin.scrollbar.botones.mx.thumb");
	trackSkin:ClassReference("skins.skin.scrollbar.botones.mx.track");
}


s|HScrollBar
	{
		skinClass: ClassReference("skins.skin.scrollbar.skinHScrollBarDefault");
	}


/***********ComboBox***********************/

s|ComboBox
	{
		skinClass: ClassReference("skins.skin.combobox.skinComboBoxDefault");
		
		selectionColor: #454545;
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}


mx|ComboBox
{
	chromeColor: #000000;
	color: #FFFFFF;
	dropdownStyleName: "drop";
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	cornerRadius: 5;
}

.drop
{
	color: #000000;
	rollOverColor:#7A7A7A;
	selectionColor:#454545;
	textRollOverColor:#FFFFFF;
	textSelectedColor:#FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


/***********ButtonBar***********************/

s|ButtonBar
{
	skinClass:ClassReference("skins.skin.buttonbar.skinButtonBar");
}

/***********TextInput***********************/


s|TextInput
	{
		skinClass:ClassReference("skins.skin.textinput.txtInputSkin");
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}

/***********TextArea***********************/

s|TextArea
	{
		skinClass:ClassReference("skins.skin.textarea.textAreaSkin");
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}

mx|TextInput
	{
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}

mx|TextArea
	{
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		
	}

/*****************radioButton*******************/
mx|RadioButton
	{
		color: #000000;
		chromeColor: #FFFFFF;
		symbolColor: #000000;
		textRollOverColor: #000000;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}

s|RadioButton
	{
		color: #000000;
		chromeColor: #FFFFFF;
		symbolColor: #000000;
		textRollOverColor: #000000;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}


mx|CheckBox
	{
		color: #000000;
		chromeColor: #FFFFFF;
		symbolColor: #000000;
		textRollOverColor: #000000;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}

s|CheckBox
	{
		skinClass:ClassReference("skins.skin.chekbox.checkBoxSkin"); 
		symbolColor: #FFFFFF;
		/*color: #000000;
		 chromeColor: #FFFFFF;
		 symbolColor: #000000;
		 textRollOverColor: #000000;
		 fontFamily: Tahoma;
		 fontWeight:normal;
		 fontStyle:italic;*/
	}

s|TabBar
{
	skinClass:ClassReference("skins.skin.tab.tabBarSkin");
}


s|DataGrid
{
	skinClass:ClassReference("skins.skin.datagrid.dataGridSkin");
	color: #000000;
	rollOverColor: #bfdbfc;
	selectionColor: #2b6db9;
	fontFamily: Arial;
	fontWeight:normal;
	fontStyle:italic;	
}

s|GridColumnHeaderGroup{
	fontFamily: Arial;
	fontStyle:italic;
	fontWeight:normal;
}

s|DefaultGridHeaderRenderer
	{
		fontFamily:Arial;
		fontStyle:italic;
		fontWeight:normal;
	}

mx|DataGrid
	{
		rollOverColor: #bfdbfc;
		selectionColor: #2b6db9;
		textSelectedColor: #FFFFFF;
		alternatingItemColors: #FFFFFF;
		headerStyleName: "headerGrid";
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:normal;
		headerBackgroundSkin:ClassReference("skins.skin.datagrid.mx.headerSparkMx");
		
	}

.headerGrid
	{
		color: #FFFFFF;
		fontFamily: Arial;
		fontWeight:normal;
		fontStyle:italic;
		rollOverColor:#0A0A0A;
		selectionColor:#0A0A0A;
		textAlign:left;
	}

mx|LinkButton
	{
		cornerRadius:5;
		paddingLeft: 0;
		letterSpacing: 0;
		rollOverColor: #aadeff;
		selectionColor: #2b6db9;
		color: #0b333c;
		textRollOverColor: #2b333c;
		textSelectedColor: #ffffff;
		fontFamily: Tahoma;
		fontWeight:normal;
		fontStyle:italic;
	}

mx|DateChooser
{
	color: #FFFFFF;
	contentBackgroundColor: #000000;
	headerStyleName: "headerDataChooser";
	todayStyleName: "todayDataChooser";
	rollOverColor:#68a5ea;
	selectionColor:  #3577c2;
	todayColor:#666666;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

.headerDataChooser
{
	color: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}


mx|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	symbolColor: #FFFFFF;
	contentBackgroundColor: #000000;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
}

s|NumericStepper
{
	color: #FFFFFF;
	chromeColor: #000000;
	contentBackgroundColor: #000000;
	symbolColor: #FFFFFF;
	fontFamily: Tahoma;
	fontWeight:normal;
	fontStyle:italic;
	
}

mx|Alert
	{
		titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
		borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
		titleStyleName: "tituloAlert";
		/*color:#FFFFFF;*/
		/*chromeColor:#000000;
		backgroundColor:#666666;
		contentBackgroundColor: #666666;*/
		fontFamily: Tahoma;
		fontWeight:normal;
		/*buttonStyleName: "botonAlerta";*/
	}

.tituloAlert
	{
		color: #FFFFFF;
		fontFamily:Arial;
		fontWeight:normal;
		fontStyle:italic;
	}

s|TitleWindow
	{
	 skinClass:ClassReference("skins.skin.title.titleWindowSkin");
	 fontFamily: Tahoma;
	 fontWeight:normal;
	}

mx|TitleWindow
	{
		titleBackgroundSkin:ClassReference("skins.skin.title.cuadro");
		borderSkin:ClassReference("skins.skin.title.borderTitleWindow");
		closeButtonDisabledSkin:Embed(source="skins/skin/title/assets/tachedisabled.png");
		closeButtonUpSkin:Embed(source="skins/skin/title/assets/tache1.png");
		closeButtonDownSkin:Embed(source="skins/skin/title/assets/overdown.png");
		closeButtonOverSkin:Embed(source="skins/skin/title/assets/overdown.png");
		
		fontFamily: Tahoma;
		fontWeight:normal;
		/*color:#000000;*/
	}

mx|Label
	{
		fontFamily: Tahoma;
		fontStyle: italic;
		fontWeight:normal;
	}

s|Label
	{
		fontFamily: Tahoma;
		fontStyle:italic;
		fontWeight:normal;
	}


